.DS_Store
mondc/cmake-build-rebuild/mondc
mondc/cmake-build-release/mondc
mondc/cmake-build-release/tester
mondc/cmake-build-release/test/tester
mondc/cmake-build-release/try/tryer
.DS_Store
mondc/cmake-build-release/test/test
